@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');


:root{
    --background:#0F1923;
    --red:#E81538;
    --red-50:#e8153880;
    --green:#04D47C;
    --green-50:#04D47C80;
    --white:#FFFFFF;
    --background-clean:#1A242D;
    --white-50:hsla(0, 0%, 100%, 0.5);
    --ouro :linear-gradient(180deg, #ECDD59 0%, rgba(225, 210, 80, 0.85) 21.88%, #D7C947 44.27%, rgba(206, 192, 64, 0.81) 60.42%, #CCBE3E 100%);
}

    body{
        margin: 0;
        padding: 0;
        font-size: 15px;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
        background-color: var(--background);

        display: flex;
        align-items: center;
        justify-content: center; }

    body > #back{
        display: flex;
        flex-direction: column;
        align-items: center; }

    #container-menu{
        width: 21.533rem;
        height: 9.667rem;
        margin: 2.667rem 0 0 0;
        border-radius: 0.333rem;
        
        background-color: var(--background-clean);

        display: flex;
        justify-content: center;
        column-gap: 16px;
        align-items: center; }
    #container-menu > img{
        width: 7.4rem; }

    #infos{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;

    justify-self: end;
    row-gap: 9px; }

/* Primeira linha */

    #container-menu > #infos > #box-quantia{
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 6px;
        
        justify-content: space-between;}
    #container-menu > #infos > #box-quantia > #quantia{

        background-color: var(--background);
        border: 0;
        outline: 0;
        border-radius: 5px;
        color: var(--white);
        text-align: start;
        text-indent: 1rem;

        font-size: 0.7em;
        width: 6rem;
        height: 2.333rem ;
        padding: 0;}
    .btn-full{
        font-size: 0.5rem;
        font-weight: 400;
        border-radius: 5px;
        
        width: 2rem;
        height: 2rem;   
        
        border: 1px solid var(--white-50);
        background-color: var(--background-clean);
        color: var(--white-50);

        text-align: center;}
 
 
/* Segunda linha */
    #box-escolha{
        display: flex;
        justify-content: space-between;
        column-gap: 11px;}

    .red{
        background-color: var(--red);
        color: var(--white);
        width: 3.333rem;
        border: 0;}
    .black{
        background-color: black;
        color: var(--white);
        width: 3.333rem;
        border: 0;}
    .white{
        background-color: var(--white);
        color: var(--background);
        width: 2.667rem;
        border: 0;}



/* Terceira linha */
    #new_count{
        display: inline-block;
        width: 5.867rem;
        font-size: 0.733em;
        align-self: flex-end;}



/* main */
    main{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;}
    #card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;}



/* Cabeçalho do Cartão */
    .header-card{
        margin-top: 20px;
        
        width: 15.333rem;
        height: 1.667rem;

        display: flex;
        justify-content: space-between;}
    #card p {
        padding: 0;
        margin: 0;}
    .header-card-set{
        color: var(--white);
        border-radius: 5px 5px 0 0;
        height: 1.667rem;
        
        background-color: var(--background-clean);
        font-size: 0.8rem;
        font-weight: 300;

        
        display: flex;
        align-items: center;}
    .header-card-title{
        width: 10rem;
        text-indent: 1rem;}
    .header-card-multiple{
        width: 4.667rem;

        justify-content: center;}
/* Cartão */
    #cards-account{

        width: 18rem;
        height: 19.333rem;
        border-radius: 0.333rem;
        
        background-color: var(--background-clean);
        display: flex;
        flex-direction: column;
        align-items: flex-end;}
    #account {
        display: flex;
        flex-direction: row;
        column-gap:0.667rem;
        align-items: center;
        justify-content: center;
        
        margin: 1.333rem 1.333rem 1rem 1.333rem;}
    .box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.333rem;}

    .card-account-title{
        width: 3.8rem;
        height: 0.8rem;
        font-size: 0.533em;
        margin: 0.067rem;
        font-weight: 400;

        text-align: center;
        border-radius: 0.333rem 0.333rem 0 0;}
    .card-account-description{

        width: 4.667rem;
        height: 2.467rem;
        border-radius: 0.333rem;
        font-size: 1rem;}

    .white-title{
        background-color: var(--white-50);
        color: var(--background);}
    .white-description{
        background-color: var(--white);}

    .green-title{
        background-color: var(--green-50);
        color: var(--white);}
    .green-description{
        background-color:var(--green);}

    .gold-title{
        background: var(--ouro);
        color: var(--background);}
    .gold-description{
        background: var(--ouro);}

    .red-title{
        background-color: var(--red-50);
        color: var(--white);}
    .red-description{
        background-color: var(--red);}

/* Botão Limpar */

.btn-clear{
    width: 4.667rem;
    height: 1.667rem;
    border-color: var(--white);
    color: var(--white);

    margin-right: 1.333rem;}



/* footer */
    footer{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin: 20px 0px;

    }
    #crash, #double{
    width: 6.467rem;
    height: 2.38rem;

    border-radius: 5px;
    color: var(--white);
    font-size: 1.255em;
    font-weight: 800;

    display: flex;
    justify-content: center;
    align-items: center;

    }
    #crash > p, #double > p{
    margin: 0;
    padding: 0;
    align-items: center;
    }
    #double{
    margin-left: -25px;    
    border-radius: 0px 5px 5px 0px;
    }
    #crash{
    margin-right: -25px;    
    border-radius: 5px 0px 0px 5px;
    }
    #crash:hover, #double:hover{

    background-color: var(--background-clean);
    }
    footer >img{
    width: 3.318rem;
    z-index: 9;

    }